body{
    font-family: 'Lato', sans-serif !important;
}

.f-w-300{
    font-weight:300!important;
}

.h-g{
    background-image: linear-gradient(#AA076B, #61045F);
    border: #AA076B;
}

.m-t-10-p{
    margin-top:10%;
}

.modal-dialog {
    width: 350px!important;
}

.error_msg{
    color:red
}